---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        800px;




// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



html{
	background-color: $grey-color;
}

body {
	max-width: 900px;
	margin: 0 auto;
	background-color: #fff;
}

.container-fluid {
	width: 100%;
}

.header {
	background: url(../assets/img/hero.jpg) center center no-repeat;
	background-size: cover;
}


.nav ul {
	list-style-type: none;
	float: right;
	padding: 0px;
	margin: 0px;
}

.nav li {
	height: 35px;
	display: inline-block;
	margin: 10px 0 0 20px;
	padding: 0px;
	text-align: center;
	line-height: 100%;
}

.nav > li > a {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 800;
	color: #755125;
	padding: 5px 10px;
}

.nav a:focus, .nav-pills a:hover{
	text-decoration: none;
	color: #ff8e00;
	border-bottom: solid #ff8e00 2px;
	border-radius: 0px;
	background-color: transparent !important;
}



.header h1 {
	font-family: "Roboto Slab", serif;
	color: #fff;
	font-size: 60px;
	margin: 400px 0 0 75px;
}

.header p {
	font-family: "Roboto Slab", serif;
	color: #fff;
	font-size: 24px;
	margin: 0 0 100px 75px;
}


.blurb {
	color: #755125;
}

.blurb .row {
	margin: 30px 0 0 0;
}

.blurb img {
	vertical-align: middle;
}

.vcenter {
    display: flex;
    align-items: center;
}



.button-row {
	margin: 50px 0;
}

.button-row h2 {
	color: #755125;
	font-weight: 600;
	text-align: center;
	margin: 0px 0 30px;
}

.button-row .col-md-3 {
	position: relative;
}

.button-row a {
}

.button-row .pic {
	opacity: 0.3;
	position: relative;
	margin: auto;
}

.button-row .caption {
	color: #755125;
	font-weight: 800;
	font-size: 24px;
	text-decoration: none;

	line-height: 110%;
	text-align: center;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-row a:hover .pic {
	opacity: 1.0;
}

.button-row a:hover .caption {
	color: #fff;
}



.announcement {
	background-color: #ff8e00;
	padding: 50px 50px;
}

.announcement h1 {
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}


.button {
	text-align: center;
	color: white;
	margin: 50px 0 0px;
}





.btn-default, .btn-default:visited {
	text-decoration: none;
	background-color: #ff8e00;
	color: white;
	width: auto;
	padding: 10px 20px;
	border: solid #fff 8px;
	border-radius: 0px;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
}

.btn:hover, .btn:focus {
	background-color: #755125;
	color: #ff8e00;
	border-color: white;
}

.btn:active {
	background-color: #755125;
	color: #ff8e00;
	border-color: white;
}

.footer {
	background-color: #755125;
	color: #fff;
	font-weight: 50;
	padding: 20px 0 20px;
}

.footer ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.footer li {
}

.footer a, .footer a:hover {
	color: white;
	text-decoration: none;
}

.footer .icon > svg > path {
	fill: #fff;
}
