<footer class="footer">

  <div class="container-fluid">

<!---    <h2 class="footer-heading">{{ site.title }}</h2> --->
	<div class="row  vertical-align">
		<div class="col-md-6">
			<ul class="copy">
				<li>Pat Schloss &copy 2015</li>
				<li>
					<a href="https://github.com/pschloss/nkidsfarm_website">
						<i class="fa fa-github fa-2x" style="color:white"></i>
					</a>
				</li>

			</ul>
		</div>

		<div class="col-md-6">

			<ul class="pull-right">
				<li>
					<a href="mailto:{{ site.email }}">
						<i class="fa fa-envelope-o fa-lg" style="color:white"></i>
					</a>
				</li>

				<li>
					<a href="https://facebook.com/{{ site.facebook_username }}">
						<i class="fa fa-facebook fa-lg" style="color:white"></i>
					</a>
				</li>

				<li>
					<a href="https://twitter.com/{{ site.twitter_username }}">
						<i class="fa fa-twitter fa-lg" style="color:white"></i>
					</a>
				</li>
				<li>
					<a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=R5mRPjcjMnUxe5kPJPuEB6jmi9FgY76itBtRUTPZbu5hsLmMj97w8mZZsqa&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2">
						<i class="fa fa-paypal fa-lg" style="color:white"></i>
					</a>
				</li>
			</ul>
	  </div>

    </div>

  </div>

</footer>
