{%	if page.collection == "posts"				%}
{%		assign value = page.categories[0]		%}
{%	else if page.collection == ""				%}
{%		assign value = page.category			%}
{%	else										%}
{%		assign value = page.collection			%}
{%	endif										%}

<header class="site-header">

	<div class="container-fluid">
		<div class="pull-right">
			<ul class="nav nav-pills">
				{% if page.category != "home" %}
				<li role="presentation" ><a href="{{site.baseurl}}/">Home</a></li>
				{% endif %}
				<li role="presentation" {% if value == "diary" %}class="active"{% endif %}><a href="{{site.baseurl}}/diary">Farm Diary</a></li>
				<li role="presentation" {% if value == "animals" %}class="active"{% endif %}><a href="{{ site.baseurl }}/animals">Animals</a></li>
				<li role="presentation" {% if value == "products" %}class="active"{% endif %}><a href="{{ site.baseurl }}/products">Wool Products</a></li>
				<li role="presentation" {% if value == "recipes" %}class="active"{% endif %}><a href="{{ site.baseurl }}/recipes">Recipes</a></li>
				<li role="presentation" {% if value == "contact" %}class="active"{% endif %}><a href="{{ site.baseurl }}/contact">Contact</a></li>
			</ul>
		</div>
	</div>

</header>
