<header class="site-header">

	<div class="container-fluid">
		<div class="pull-right">
			<ul class="nav nav-pills">
				{% if page.folder != "home" %}
				<li role="presentation" ><a href="{{site.baseurl}}/">Home</a></li>
				{% endif %}
				<li role="presentation" {% if page.folder == "diary" %}class="active"{% endif %}><a href="{{site.baseurl}}/diary">Farm Diary</a></li>
				<li role="presentation" {% if page.folder == "animals" %}class="active"{% endif %}><a href="{{ site.baseurl }}/animals">Animals</a></li>
				<li role="presentation" {% if page.folder == "products" %}class="active"{% endif %}><a href="{{ site.baseurl }}/products">Wool Products</a></li>
				<li role="presentation" {% if page.folder == "recipes" %}class="active"{% endif %}><a href="{{ site.baseurl }}/recipes">Recipes</a></li>
				<li role="presentation" {% if page.folder == "contact" %}class="active"{% endif %}><a href="{{ site.baseurl }}/contact">Contact</a></li>
			</ul>
		</div>
	</div>

</header>
