<!---
	input:	columns - number of columns in the grid
	 		pages - vector of pages from collection where each has YAML defining
			 		values for picture, title, and url. Depends on title being
					nil for the index.html page
--->

{% assign width = 12 | divided_by: include.columns %}
{% assign column_index = 0 %}

{% for item in include.pages %}

	{% if item.title != nil %}
		{% if column_index == 0 %}<div class="row">{% endif %}
		{% assign column_index = column_index | plus: 1 %}
		<div class="col-xs-{{width}}">
			<a href="{{ item.url }}"><img src="{{ item.picture }}" alt="{{ item.title }}" class=" img-responsive"></a>
		</div>
	{% endif %}

	{% if column_index == include.columns  %}
		{% assign column_index = 0 %}
		</div>
	{% endif %}
{% endfor %}

{% if column_index != 0 %}
	</div>
{% endif %}
